.text {
  margin-block: 0;
}

.h1 {
  font-size: 76px;
  line-height: 0.98;
  font-weight: 800;
}

.h2 {
  font-size: 44px;
  line-height: 1.1;
  font-weight: 500;
}

.h3 {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 700;
}

.bodyLarge {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

.body {
  font-size: 14px;
  line-height: 1.35;
  font-weight: 400;
}

.caption {
  font-size: 13px;
  line-height: 1.4;
  font-weight: 700;
}

.small {
  font-size: 11px;
  font-weight: 500;
}
