// Текст

$color-text: #f0f1eb;
$color-text-gray: #8c918a;
$color-text-light-gray: #babdb5;
$color-text-muted: #adb0a8;
$color-text-dark: #474a45;
$color-text-darker: #40403d;
$color-text-black: #030404;

// Фон

$color-background: #030404;
$color-background-dark: #050606;
$color-background-darker: #060706;
$color-background-card: #121311;
$color-background-card-alt: #171816;
$color-background-dark-gray: #1a1b1a;
$color-background-elevated-1: #1c1c1b;
$color-background-elevated-2: #1f1f1d;
$color-background-elevated-3: #222220;
$color-background-elevated-4: #252522;
$color-background-surface: #070707;
$color-background-surface-alt: #090a09;
$color-background-surface-alt-2: #070807;
$color-background-surface-alt-3: #060707;
$color-background-accent-muted: #3b4f14;

// Акценты

$color-accent: #a1ed05;
$color-accent-dark: #6ba803;

// Обводки

$color-border: #1f211f;
$color-border-light: #2e302e;
$color-border-lighter: #383b36;
$color-border-medium: #292926;
$color-border-dark: #171c17;
$color-border-highlight: #40423d;
$color-border-accent: #1f3308;
$color-border-white: #fff;
