@use './fonts';
@use './variables' as *;

:root {
  color: $color-text;
  font-family: Manrope, ui-sans-serif, system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-width: 20rem;
  background: $color-background;
}

body {
  min-width: 20rem;
  min-height: 100vh;
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}
